<td>{{name}}</td>
<td><a class="waves-effect waves-light btn green darken-4" href={{url}} download={{filename}}>Download</a></td>
<td><a class="waves-effect waves-light btn red darken-4" {{action 'delete'}}>Delete</a></td>
